{# Use base.j2 template as a base and only provide values for placeholders
   in this file.
#}
{% extends "base.j2" %}

{# Markdown main content block. #}
{% block content %}
<h1>Home</h1>

Ruby on Racetracks combines the power of Ruby on Rails with the speed of NASCAR.  Ruby on Rails is a great framework, but the stock procedures are so slow and complicated.  Ruby on Racetracks uses an infrastructure that provides the elements needed for all or most projects already pre-installed and thus allows you to bypass many of the slow and bureaucratic steps needed to get started.
<br><br>
In other words, Ruby on Racetracks has the same basic selling points as the much-advertised Hertz #1 Club Gold program, which touts the convenience and efficiency of bypassing the line at the rental counter.  In contrast, using the time-consuming stock procedures provides an experience analogous to that of renting a car from Not Exactly Hertz in a Hertz commercial and enduring bad experiences like a long line at the rental counter, getting soaked by a torrential downpour, getting lost, and getting stranded.

{% endblock %}
